<app-header></app-header>
<main>

  <ul id="users">
    @for (user of users; track user.id){
    <li>
      <app-user [userObj]="user" [isSelected]="user.id === selectedUser?.id"
        (userClicked)="onUserSelected($event)"></app-user>
    </li>

    }
  </ul>
  @if(selectedUser){
    <app-tasks [user]="selectedUser"></app-tasks> 
   }
  @else{
    <p>Please log in to continue.</p>
  }
</main>






<!-- <app-header></app-header>
<main>

  <ul id="users">
    <li>
      <app-user
        [name]="users[0].name"
        [avatar]="'assets/users/' + users[0].avatar"
        [id]="users[0].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>

    <li>
      <app-user
        [name]="users[1].name"
        [avatar]="'assets/users/' + users[1].avatar"
        [id]="users[1].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>

    <li>
      <app-user
        [name]="users[2].name"
        [avatar]="'assets/users/' + users[2].avatar"
        [id]="users[2].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>

    <li>
      <app-user
        [name]="users[3].name"
        [avatar]="'assets/users/' + users[3].avatar"
        [id]="users[3].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>

    <li>
      <app-user
        [name]="users[4].name"
        [avatar]="'assets/users/' + users[4].avatar"
        [id]="users[4].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>

    <li>
      <app-user
        [name]="users[5].name"
        [avatar]="'assets/users/' + users[5].avatar"
        [id]="users[5].id"
        (userClicked)="onUserSelected($event)">
      </app-user>
    </li>
  </ul>

  <p *ngIf="selectedUser">👤 המשתמש שנבחר הוא: {{ selectedUser.name }}</p>
</main> -->